{% extends 'base.html' %}
{% load static %}
{% block title %}阳哥书城-榜单{% endblock title %}

{% block topfiles %}
    <link rel="stylesheet" href="{% static 'css/type.css' %}">
{% endblock topfiles %}

{% block content %}
    <!-- 中部 -->
    <section id="yang_middle">
        <div class="container">
            <div class="row">
                <div id="mid_left">
                    <ul id="book_menu">
                        <li {% if sort == 'click_num' %}class="active"{% endif %}><a href="{% url 'book:rank' 'click_num' 1 %}">点击榜</a></li>
                        <li {% if sort == 'collect_num' %}class="active"{% endif %}><a href="{% url 'book:rank' 'collect_num' 1 %}">收藏榜</a></li>
                        <li {% if sort == 'recommend_num' %}class="active"{% endif %}><a href="{% url 'book:rank' 'recommend_num' 1 %}">推荐榜</a></li>
                        <li {% if sort == 'comment_num' %}class="active"{% endif %}><a href="{% url 'book:rank' 'comment_num' 1 %}">吐槽榜</a></li>
                        <li {% if sort == 'create_time' %}class="active"{% endif %}><a href="{% url 'book:rank' 'create_time' 1 %}">新书榜</a></li>
                    </ul>
                </div>
                <div id="mid_right">
                    <ul class="nav nav-tabs">
                        <li role="presentation" class="{% if not status %}active{% endif %} text-center" style="width: 33%;"><a href="{% url 'book:rank' sort 1 %}">综合</a></li>
                        <li role="presentation" class="{% if status == '0' %}active{% endif %} text-center" style="width: 33%;"><a href="{% url 'book:rank' sort 1 %}?status=0">完本</a></li>
                        <li role="presentation" class="{% if status == '1' %}active{% endif %} text-center" style="width: 33%;"><a href="{% url 'book:rank' sort 1 %}?status=1">连载</a></li>
                    </ul>
                    <ul id="books" class="media-list">
                        {% for book in book_page %}
                        <li class="media col-md-6 book">
                            <div class="media-left">
                                <a href="{% url 'book:detail' book.id %}">
                                    <img class="media-object" src="{{ MEDIA_URL }}{{ book.image }}" alt="{{ book.title }}" width="100" height="133" onerror="this.src='{% static 'images/default.jpg' %}'">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="name media-heading">{{ book.title }}</h4>
                                <div class="desc text-muted">
                                    {{ book.desc }}
                                </div>
                                <div class="book_bottom">
                                    <div class="author badge"><span class="glyphicon glyphicon-user"></span> {{ book.author }}</div>
                                    <div class="love_num badge pull-right">收藏:{{ book.collect_num }}</div>
                                    <div class="click_num badge hidden-xs pull-right">点击:{{ book.click_num }}</div>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- 中部 -->

    <!-- 分页 -->
    <section id="yang_page">
        <div class="container">
            <div class="row">
                <nav aria-label="Page navigation" class="text-center" >
                    <ul class="pagination">
                        {% if book_page.has_previous %}
                        <li>
                            <a href="{% url 'book:rank' sort book_page.previous_page_number %}{% if status %}?status={{ status }}{% endif %}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% endif %}

                    {% for page_num in pages %}
                        <li {% if page_num == book_page.number %}class="active"{% endif %}><a href="{% url 'book:rank' sort page_num %}{% if status %}?sort={{ status }}{% endif %}">{{ page_num }}</a></li>
                    {% endfor %}

                    {% if book_page.has_next %}
                        <li>
                            <a href="{% url 'book:rank' sort book_page.next_page_number %}{% if status %}?sort={{ status }}{% endif %}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </section>
    <!-- /分页 -->
{% endblock content %}

{% block footer %}
{% endblock footer %}

{% block bottomfiles %}
    <script src="{% static 'js/type.js' %}"></script>
{% endblock bottomfiles %}
