/* 尾部 */
 #yang_footer {
    margin-top: 0;
    width: 100%;
    height: 150px;
    background-size: cover;
    -webkit-background-size: cover;
    background: url('../images/bg.png') no-repeat center;
    color: #fff;
 }

 #yang_footer div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
 }