/* 通用样式 */

.badge{
    border-radius: 0;
    padding: 6px;
 }


 /* 小说列表 */

#book_list{
    width: 100%;
    float: right;
}

#book_list .media:first-child {
   margin-top: 15px;
}

#book_list #books .book{
   margin: 10px 0;
}

#book_list #books .desc{
   height: 80px;
   overflow: hidden;
   line-height: 26px;
}

#book_list #books .click_num{
    background-color:#a1d0d2;
 }

 #book_list #books .love_num{
    background-color:#0AB4F7;;
    margin: 0 8px;
 }

 #book_list #books .recommend_num{
    background-color:#d1acd8;
 }